* 
  .lesson {
    background-color: bisque;
  }
  
  li#email {
    background-color: #C621B3;
  }
  
  li#gtihub {
    background-color: #E8A818;
  }
  
  li#portfolio {
    background-color: #2E8183;
  }